apiVersion: v1
kind: ConfigMap
metadata:
  name: otelcol-config
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: {{ .Values.otel.otlpReceiverEndpoint | quote }}
    processors:
      batch:
        timeout: 5s
        send_batch_size: 1024
    exporters:
      prometheus:
        endpoint: {{ .Values.otel.otlpExporterEndpoint | quote }}
      debug:
        verbosity: detailed
    service:
      telemetry:
        logs:
          level: debug
      pipelines:
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [logging, prometheus]
